/**
 * Editor styles for My Attempts block
 *
 * @package PressPrimer_Quiz
 * @since 1.0.0
 */

.wp-block-pressprimer-quiz-my-attempts {
	margin: 1em 0;
}

.wp-block-pressprimer-quiz-my-attempts .components-placeholder {
	min-height: 200px;
}

.wp-block-pressprimer-quiz-my-attempts .components-placeholder__instructions {
	margin-bottom: 1em;
}
